$gray: #D1D1D1;
$white: #EAF2EF;
$mainColour: #1D7874;
$hover: #48a29e;
$font-stack:  Segoe UI, Helvetica, Arial, sans-serif;

// body {
// 	font: 100% $font-stack;
// }

a, a:hover,  a:link, a:visited{
	text-decoration: none;
}

img:hover {
	opacity: .9;
}

.thumbnail {
	background-color: white;
}

nav.navbar {
	width: inherit;
	top: 0%;
	position: fixed;
	left: 0;
	z-index: 999;
}

.push-top {
	margin-top: 10px;
}

.push-top-more {
	margin-top: 20px;
}

.push-bottom {
	margin-bottom: 10px;
}

.push-bottom-more {
	margin-bottom: 20px;
}

.push-v {
	margin-top: 10px;
	margin-bottom: 10px;
}

.push-v-more {
	margin-top: 20px;
	margin-bottom: 20px;
}

.spacer {
	padding: 80px 0;
}

.pic-pad {
	padding: 0;
}

.bordered {
	border: 1px solid black;
}

.width-inherit {
	width: inherit;
}

.text-small {
	font-size: 0.8em;
}

.bold {
	font-weight: bold;
}