$gray: #D1D1D1;
$white: #EAF2EF;
$mainColour: #1D7874;
$hover: #48a29e;
$font-stack:  Segoe UI, Helvetica, Arial, sans-serif;

body {
	font: 100% $font-stack;
}

a, a:hover,  a:link, a:visited{
	text-decoration: none;
}

.img {
	width: 100%;
}

.img:hover {
	opacity: .9;
}

.thumbnail {
	background-color: white;
}

nav.navbar {
	width: inherit;
	top: 0%;
	position: fixed;
	left: 0;
	z-index: 999;
}

.width-inherit {
	width: inherit;
}

.text-small {
	font-size: 0.8em;
}

.bold {
	font-weight: bold;
}